data/n8n/Sistema_Tickets_Automatico.json
{
  "name": "Sistema de Tickets Automático",
  "nodes": [
    {
      "parameters": {
        "path": "/webhook/create-ticket",
        "responseMode": "onReceived",
        "options": {
          "Response Data": "Last Node"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        -608,
        112
      ],
      "id": "2f323936-3a3e-4b7f-be1f-3f0eca81f1f9",
      "name": "Webhook Tickets",
      "webhookId": "ticket-webhook"
    },
    {
      "parameters": {
        "jsCode": "const alert = $input.first().json;\n\n// Generar número de ticket único\nconst ticketNumber = 'TICKET-' + \n  new Date().getFullYear().toString().slice(-2) + \n  ('0' + (new Date().getMonth() + 1)).slice(-2) + \n  ('0' + new Date().getDate()).slice(-2) + \n  '-' + \n  Math.random().toString(36).substr(2, 6).toUpperCase();\n\n// Determinar prioridad\nfunction getPriority(severity, riskScore) {\n  if (severity === 'critical' || riskScore >= 80) return 'high';\n  if (severity === 'high' || riskScore >= 60) return 'medium';\n  return 'low';\n}\n\n// Determinar categoría\nfunction getCategory(ruleName) {\n  const rule = ruleName.toLowerCase();\n  if (rule.includes('ssh') || rule.includes('login')) return 'Authentication';\n  if (rule.includes('sql') || rule.includes('injection')) return 'Web Attack';\n  if (rule.includes('scan') || rule.includes('port')) return 'Reconnaissance';\n  if (rule.includes('malware') || rule.includes('virus')) return 'Malware';\n  return 'General Security';\n}\n\n// Determinar asignación automática\nfunction getAssignment(category, severity) {\n  const assignments = {\n    'Authentication': 'soc_team@example.com',\n    'Web Attack': 'websec_team@example.com',\n    'Reconnaissance': 'monitoring_team@example.com',\n    'Malware': 'malware_team@example.com'\n  };\n  \n  return assignments[category] || 'security_team@example.com';\n}\n\nconst ticketData = {\n  ticket_number: ticketNumber,\n  title: alert.title || `[${alert.severity}] ${alert.rule_name}`,\n  description: alert.description || 'Sin descripción',\n  status: 'open',\n  priority: getPriority(alert.severity, alert.risk_score),\n  category: getCategory(alert.rule_name),\n  source_ip: alert.source_ip,\n  threat_score: alert.risk_score || 0,\n  assigned_to: getAssignment(getCategory(alert.rule_name), alert.severity),\n  created_at: new Date().toISOString(),\n  alert_reference: {\n    rule_name: alert.rule_name,\n    severity: alert.severity,\n    timestamp: alert.timestamp\n  }\n};\n\nreturn [{ json: ticketData }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -400,
        112
      ],
      "id": "77274888-9e1d-422e-a234-5d56fb9c4095",
      "name": "Generar Ticket"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "security_tickets",
          "mode": "list",
          "cachedResultName": "security_tickets"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -208,
        112
      ],
      "id": "30e6c7e7-a7e8-4ece-9d1e-3e79b90138c6",
      "name": "Insertar Ticket en BD",
      "credentials": {
        "postgres": {
          "id": "xQDinEhC3bDgBeQn",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "resource": "message"
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "6c66f7f3-410d-408f-b288-5b0006bad91c",
      "name": "Notificar por Email",
      "webhookId": "422edc37-9a13-4d09-af98-84a6ef19c45b",
      "credentials": {
        "smtp": {
          "id": "znhf5WG1LFCJW8kK",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
      "select": "channel",
      "channel": {
        "mode": "equipobot-rojo",
        "value": "security-alerts"
      },
      "text": "={{ `Nuevo ticket: *${$json.ticket_number}* - ${$json.title}\\n` +\n`Prioridad: ${$json.priority} | Categoría: ${$json.category}\\n` +\n`IP: ${$json.source_ip} | Score: ${$json.threat_score}\\n` +\n`Asignado: ${$json.assigned_to}` }}",
      "otherOptions": {}
    },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2,
      "position": [0, 208],
      "id": "26ba07f3-1765-4920-b8bd-d02d8a292b83",
      "name": "Notificar en Slack",
      "credentials": {
        "slackApi": {
          "id": "dgEXu72QNPkfGQdY",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const ticket = $input.first().json;\n\n// Enviar también a Logstash para registro centralizado\ntry {\n  await $http.post({\n    url: 'http://logstash:8081',\n    body: {\n      ...ticket,\n      type: 'ticket_created',\n      source: 'n8n_ticket_system',\n      timestamp: new Date().toISOString()\n    },\n    headers: { 'Content-Type': 'application/json' }\n  });\n} catch (error) {\n  console.log('Error enviando ticket a Logstash:', error.message);\n}\n\n// Generar respuesta\nconst response = {\n  success: true,\n  ticket_number: ticket.ticket_number,\n  message: `Ticket ${ticket.ticket_number} creado exitosamente`,\n  details: {\n    priority: ticket.priority,\n    category: ticket.category,\n    assigned_to: ticket.assigned_to,\n    timestamp: new Date().toISOString()\n  }\n};\n\nreturn [{ json: response }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        112
      ],
      "id": "880131f8-c312-4b9c-bd89-cf5dea755b3c",
      "name": "Finalizar Proceso"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook Tickets": {
      "main": [
        [
          {
            "node": "Generar Ticket",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generar Ticket": {
      "main": [
        [
          {
            "node": "Insertar Ticket en BD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insertar Ticket en BD": {
      "main": [
        [
          {
            "node": "Notificar por Email",
            "type": "main",
            "index": 0
          },
          {
            "node": "Notificar en Slack", 
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Notificar por Email": {
      "main": [
        [
          {
            "node": "Finalizar Proceso",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notificar en Slack": {
      "main": [
        [
          {
            "node": "Finalizar Proceso",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "355b688b-9c6b-4e3f-b550-642bfb6a2ef4",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "62a476d001d9b5667943139795e50ef1df67c5e4cc02e91414150a16123dcae4"
  },
  "id": "U0rZEiCVbY3IWE1x",
  "tags": []
}
