data/n8n/Sistema de Tickets Automático.json
{
  "name": "Sistema de Tickets Automático",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "create-ticket",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        -1616,
        80
      ],
      "id": "d67120db-106c-46e9-bb20-4a9961e534b7",
      "name": "Webhook Tickets",
      "webhookId": "ticket-webhook"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json.datos_originales || $input.first().json;\n\n// 1. Extraer la IP atacante\nconst sourceIp = input.source_ip || \"0.0.0.0\";\n\n// 2. Sincronizar Prioridad con el Score (70 = HIGH)\nconst score = input.risk_score || 0;\nconst finalPriority = score >= 80 ? 'critical' : score >= 60 ? 'high' : 'medium';\n\nreturn [{\n    json: {\n        ticket_number: 'TICKET-LOG-' + Math.random().toString(36).substr(2, 6).toUpperCase(),\n        title: `[DETECCIÓN] ${input.rule_name || \"Ataque SSH\"}`,\n        description: `Fallo de login detectado desde ${sourceIp}`,\n        status: 'open',\n        priority: finalPriority, // <--- Ahora dirá HIGH si el score es 70\n        category: 'HIDS/Logs',\n        source_ip: sourceIp,\n        threat_score: score,\n        assigned_to: 'security_team@example.com',\n        created_at: new Date().toISOString(),\n        // 3. RELLENAR ALERT_REFERENCE (para que no salga null)\n        alert_reference: input.threat_intel || { info: \"No intel data\" }\n    }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -464,
        48
      ],
      "id": "71464a8d-b318-4235-b825-c757002c37a0",
      "name": "Generar Ticket"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "security_tickets",
          "mode": "list",
          "cachedResultName": "security_tickets"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {
            "id": 0,
            "threat_score": 0,
            "ticket_number": "=",
            "title": "=",
            "description": "="
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ticket_number",
              "displayName": "ticket_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "description",
              "displayName": "description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "priority",
              "displayName": "priority",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "category",
              "displayName": "category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "source_ip",
              "displayName": "source_ip",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "threat_score",
              "displayName": "threat_score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "assigned_to",
              "displayName": "assigned_to",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "alert_reference",
              "displayName": "alert_reference",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -176,
        80
      ],
      "id": "83eda06d-da68-4f13-b608-0ccf7f800a89",
      "name": "Insertar Ticket en BD",
      "credentials": {
        "postgres": {
          "id": "fxbYllSjTFqyrT5U",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const ticket = $input.first().json;\n\ntry {\n  await $http.post({\n    url: 'http://logstash:8081',\n    body: {\n      ...ticket,\n      type: 'ticket_created',\n      source: 'n8n_ticket_system',\n      timestamp: new Date().toISOString()\n    },\n    headers: { 'Content-Type': 'application/json' }\n  });\n} catch (error) {\n  console.log('Error enviando ticket a Logstash:', error.message);\n}\n\nconst response = {\n  success: true,\n  ticket_number: ticket.ticket_number,\n  message: `Ticket ${ticket.ticket_number} creado exitosamente`,\n  details: {\n    priority: ticket.priority,\n    category: ticket.category,\n    assigned_to: ticket.assigned_to,\n    timestamp: new Date().toISOString()\n  }\n};\n\nreturn [{ json: response }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        432,
        176
      ],
      "id": "3246733b-0cdc-4a3a-980c-eeadf72b17b0",
      "name": "Finalizar Proceso"
    },
    {
      "parameters": {
        "fromEmail": "rafa.legendsss@gmail.com",
        "toEmail": "rafa.legendsss@gmail.com",
        "subject": "Generar alertas",
        "emailFormat": "text",
        "text": "=Alerta de Seguridad - Nuevo Ticket Detectado ID: {{ $json.id }} IP Maliciosa: {{ $json.source_ip }} Riesgo: {{ $json.risk_score }} Categoría: {{ $json.category }}",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        16,
        0
      ],
      "id": "ef6f385d-65c0-4715-8a94-8f0de35bb664",
      "name": "Send email",
      "webhookId": "6b0a7bc7-0e9d-4669-ab6f-da7b843ae9ec",
      "credentials": {
        "smtp": {
          "id": "SXAVnICwMTpNLbPk",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const alert = $json; \n\nreturn {\n    json: {\n        ticket_number: 'TICKET-METRICA-' + Math.random().toString(36).substr(2, 6).toUpperCase(),\n        title: `[ALERTA] Incremento de baneo en Jail: ${alert.labels?.jail || 'n8n'}`,\n        description: \"Prometheus detectó un cambio en el contador. La IP detallada debe estar en el ticket anterior de Logs.\",\n        status: 'closed',\n        priority: 'medium',\n        category: 'IPS/Metrics',\n        source_ip: 'Ver Logstash', // Ya no ponemos \"Desconocida\", sino una indicación clara\n        threat_score: 100,\n        assigned_to: 'security_team@example.com',\n        created_at: new Date().toISOString()\n    }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -608,
        224
      ],
      "id": "7f5f7186-c43c-43bc-b5b4-8245ce16bdc6",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.origen_ticket }}",
                    "rightValue": "=workflow_logs",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "4a6a3e3e-4f82-4bc2-bae7-245179a4d077"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "a6e819a8-3902-4099-b4db-e6b4456e7a5a",
                    "leftValue": "={{ $json.origen_ticket }}",
                    "rightValue": "alertmanager",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -1072,
        96
      ],
      "id": "67c81a94-e15c-4ebc-9b14-aaa8809abad1",
      "name": "Switch"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || {};\n\n// Detectamos el origen y lo guardamos en una palabra simple\nlet origen = \"otro\";\n\nif (body.alerts) {\n    origen = \"alertmanager\";\n} else if (body.rule_name) {\n    origen = \"workflow_logs\";\n}\n\n// Enviamos la palabra limpia y los datos originales\nreturn {\n    origen_ticket: origen,\n    datos_originales: body\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1408,
        80
      ],
      "id": "4768a3c7-4ec0-41b1-a1fe-3054935858fa",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "fieldToSplitOut": "datos_originales.alerts",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -864,
        192
      ],
      "id": "ac3c98cb-e818-4738-a202-b87dc3870203",
      "name": "Split Out"
    },
    {
      "parameters": {
        "chatId": "-1003838665607",
        "text": "=🚨 *NUEVO TICKET GENERADO* 🚨\n\n📌 *Prioridad:* {{ $json.priority }}\n📂 *Categoría:* {{ $json.category }}\n🌐 *IP:* {{ $json.source_ip }}\n📊 *Score:* {{ $json.threat_score }}\n👤 *Asignado:* {{ $json.assigned_to }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        16,
        192
      ],
      "id": "f8e5ded2-bc74-406e-8ab0-b2ad7776e379",
      "name": "Send a text message",
      "webhookId": "5e9f30f9-c258-43fe-b7e8-f5f266745e99",
      "credentials": {
        "telegramApi": {
          "id": "W1iVfTTyzWU5Idv0",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "-1003838665607",
        "text": "=✅ ACCIÓN DE SEGURIDAD COMPLETADA Ticket: {{ $json.ticket_number }} Resultado: El baneo en el jail {{ $json.title }} ha sido verificado por Prometheus. Estado: Protegido.",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -144,
        416
      ],
      "id": "f57382ea-1f31-4116-8094-811994530251",
      "name": "Send a text message1",
      "webhookId": "63cd58c6-cae5-496b-a906-c552c8bd4892",
      "credentials": {
        "telegramApi": {
          "id": "W1iVfTTyzWU5Idv0",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "rafa.legendsss@gmail.com",
        "toEmail": "rafa.legendsss@gmail.com",
        "subject": "Generar alertas",
        "emailFormat": "text",
        "text": "=Alerta de Seguridad - Nuevo Ticket Detectado ID: {{ $json.id }} IP Maliciosa: {{ $json.source_ip }} Riesgo: {{ $json.risk_score }} Categoría: {{ $json.category }}",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        -160,
        288
      ],
      "id": "ef5e483c-7f23-459c-9630-9fd124acd7b2",
      "name": "Send email1",
      "webhookId": "206cd72e-9fa3-4777-96ac-96de3685a426",
      "credentials": {
        "smtp": {
          "id": "SXAVnICwMTpNLbPk",
          "name": "SMTP account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook Tickets": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generar Ticket": {
      "main": [
        [
          {
            "node": "Insertar Ticket en BD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insertar Ticket en BD": {
      "main": [
        [
          {
            "node": "Send email",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send email": {
      "main": [
        []
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Send email1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Generar Ticket",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message": {
      "main": [
        [
          {
            "node": "Finalizar Proceso",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send email1": {
      "main": [
        []
      ]
    },
    "Send a text message1": {
      "main": [
        [
          {
            "node": "Finalizar Proceso",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "96199a2f-6f17-4f9f-8e13-33f4e9696a8d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7478c350e39689cddadf155b6c5aead67e0635cfe1aa4e6d60c18ecb354db193"
  },
  "id": "B0ZXhvCLkdwUOVKj",
  "tags": []
}