data/n8n/subworkflow_wazuh_monitor.json
{
  "name": "subworkflow_wazuh_monitor",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "wazuh-monitor",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "912cdafb-388c-4398-aaf3-3ec925576c12",
      "name": "Webhook - Recibir Alerta",
      "webhookId": "wazuh-monitor"
    },
    {
      "parameters": {
        "jsCode": "// Extraer token y preparar el payload para Wazuh\nconst token = $input.first().json.data.token;\nconst alert = $('Webhook - Recibir Alerta').first().json.body;\nconst threatInfo = alert.threat_intel || {};\n\nconst wazuhAlert = {\n  timestamp: alert.timestamp || new Date().toISOString(),\n  rule: {\n    id: alert.rule_id || 100001,\n    level: alert.severity === 'critical' ? 12 :\n           alert.severity === 'high' ? 8 :\n           alert.severity === 'medium' ? 5 : 3,\n    description: alert.description || 'No description',\n    mitre: {\n      tactic: alert.category === 'authentication_failure' ? 'Credential Access' : 'Unknown',\n      technique: alert.rule_name || 'Unknown'\n    }\n  },\n  agent: { id: '003', name: 'n8n-workflow' },\n  data: {\n    srcip: alert.source_ip || '0.0.0.0',\n    rule_name: alert.rule_name || 'Unknown',\n    risk_score: alert.risk_score || 0,\n    risk_level: alert.risk_level || 'LOW',\n    event_count: alert.event_count || 1,\n    threat_intel: {\n      reputation: threatInfo.threat_info?.reputation || 'unknown',\n      confidence: threatInfo.threat_info?.confidence || 0,\n      is_private_ip: threatInfo.is_private_ip || false,\n      geo_info: threatInfo.geo_info || {}\n    }\n  },\n  location: 'n8n_workflow',\n  full_log: JSON.stringify(alert.raw_log || alert)\n};\n\nreturn [{ json: { \n  data_source: \"n8n_workflow\",\n  wazuh_token: token, \n  wazuh_alert: JSON.stringify(wazuhAlert), \n  original_alert: alert \n} }]"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        0
      ],
      "id": "d9395837-1209-477e-bea5-b8e96f5d7528",
      "name": "Preparar Payload Wazuh"
    },
    {
      "parameters": {
        "jsCode": "console.log('Wazuh y Logstash: envío completado correctamente.');\nreturn [{ json: { success: true, timestamp: new Date().toISOString() } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1104,
        0
      ],
      "id": "306545f1-ce0e-4c67-b606-78a358d6100c",
      "name": "Log Éxito"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://wazuh-manager:55000/security/user/authenticate",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        240,
        0
      ],
      "id": "24872c78-2023-4641-aef8-35b05d33fa07",
      "name": "Obtener Token JWT1",
      "credentials": {
        "httpBasicAuth": {
          "id": "2JMK8Ls4L1VHFdvR",
          "name": "Credencial Wazuh Rafa"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://wazuh-manager:55000/events",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.wazuh_token }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"events\": [ {{ JSON.stringify($json.wazuh_alert) }} ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        656,
        0
      ],
      "id": "797c5ffc-7c24-4701-8ba3-c253e02cf57f",
      "name": "Enviar a Wazuh1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://logstash:8080",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"data_source\": \"n8n_workflow\",\n  \"rule_name\": \"{{ $node[\"Preparar Payload Wazuh\"].json[\"original_alert\"][\"rule_name\"] }}\",\n  \"severity\": \"{{ $node[\"Preparar Payload Wazuh\"].json[\"original_alert\"][\"severity\"] }}\",\n  \"source_ip\": \"{{ $node[\"Preparar Payload Wazuh\"].json[\"original_alert\"][\"source_ip\"] }}\",\n  \"risk_score\": {{ $node[\"Preparar Payload Wazuh\"].json[\"original_alert\"][\"risk_score\"] }},\n  \"description\": \"{{ $node[\"Preparar Payload Wazuh\"].json[\"original_alert\"][\"description\"] }}\",\n  \"raw_log\": \"{{ $node[\"Preparar Payload Wazuh\"].json[\"original_alert\"][\"raw_log\"] }}\",\n  \"timestamp\": \"{{ new Date().toISOString() }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        864,
        0
      ],
      "id": "f2f28bf0-5589-4fff-a6e8-442a14e60be6",
      "name": "Enviar a Logstash1"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook - Recibir Alerta": {
      "main": [
        [
          {
            "node": "Obtener Token JWT1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener Token JWT1": {
      "main": [
        [
          {
            "node": "Preparar Payload Wazuh",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Payload Wazuh": {
      "main": [
        [
          {
            "node": "Enviar a Wazuh1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar a Wazuh1": {
      "main": [
        [
          {
            "node": "Enviar a Logstash1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar a Logstash1": {
      "main": [
        [
          {
            "node": "Log Éxito",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "33647a2b-a8d2-463e-8cf2-3e453f79f637",
  "meta": {
    "instanceId": "7478c350e39689cddadf155b6c5aead67e0635cfe1aa4e6d60c18ecb354db193"
  },
  "id": "2FjuAyoNnVKfExpe",
  "tags": []
}