data/n8n/worflow_fas_4_Auto-bloqueo.json
{
  "name": "worflow_fas_4_Auto-bloqueo",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "/webhook/auto-block",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        -832,
        368
      ],
      "id": "9211ccfb-554b-4bc3-9e84-f6bef4963718",
      "name": "Webhook",
      "webhookId": "auto-block-webhook"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO blocked_ips (ip_address, threat_score, reason, blocked_until, is_active) VALUES ($1, $2, $3, $4, true) ON CONFLICT (ip_address) DO UPDATE SET threat_score = EXCLUDED.threat_score, reason = EXCLUDED.reason, blocked_until = EXCLUDED.blocked_until, is_active = true RETURNING *",
        "options": {
          "queryReplacement": "={{ $json.source_ip }}{{ $json.risk_score }}{{ $json.rule_name }}{{ $json.blocked_until }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -272,
        256
      ],
      "id": "e2905266-4081-4380-86e5-52975c058fff",
      "name": "Insertar IP Bloqueada",
      "credentials": {
        "postgres": {
          "id": "fxbYllSjTFqyrT5U",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const alert = $input.first().json.body || $input.first().json;\n\nconst threatScore = alert.threat_score || alert.risk_score || 0;\nconst severity = alert.severity || 'medium';\n\nlet blockedUntil = new Date();\n\nif (threatScore >= 80 || severity === 'critical') {\n  blockedUntil.setDate(blockedUntil.getDate() + 30);\n} else if (threatScore >= 60 || severity === 'high') {\n  blockedUntil.setHours(blockedUntil.getHours() + 24);\n} else {\n  return [{\n    json: {\n      ...alert,\n      block_decision: 'no_block',\n      reason: 'Umbral no alcanzado'\n    }\n  }];\n}\n\nalert.blocked_until = blockedUntil.toISOString();\nalert.block_decision = 'block';\nalert.block_timestamp = new Date().toISOString();\n\nconst isPrivateIP = alert.source_ip.startsWith('10.') || \n                   alert.source_ip.startsWith('192.168.') || \n                   alert.source_ip.startsWith('172.16.');\n\nalert.is_private_ip = isPrivateIP;\n\nalert.firewall_action = isPrivateIP ? 'log_only' : 'block';\n\nreturn [{\n  json: alert\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -656,
        368
      ],
      "id": "f8d6c96d-e523-4a9f-a9fe-5d0c1d57ec14",
      "name": "Lógica de Decisión"
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\n\nif (item.block_decision === 'block' && !item.is_private_ip) {\n  try {\n    const command = `iptables -A INPUT -s ${item.source_ip} -j DROP && iptables -A OUTPUT -d ${item.source_ip} -j DROP`;\n    \n    console.log(`[SIMULADO] Ejecutar: ${command}`);\n    \n    item.firewall_command = command;\n    item.firewall_executed = true;\n    \n  } catch (error) {\n    item.firewall_executed = false;\n    item.firewall_error = error.message;\n  }\n}\n\nreturn [{\n  json: item\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "56b4791d-6cd9-4b74-a0da-3e724b77a286",
      "name": "Acción Firewall"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "block-check",
              "leftValue": "={{ $json.block_decision }}",
              "rightValue": "block",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [
        -512,
        368
      ],
      "id": "01e1c873-71c1-4f93-ad88-d1e2189616b5",
      "name": "¿Bloquear?"
    },
    {
      "parameters": {
        "jsCode": "const result = $input.first().json;\n\nconst report = {\n  timestamp: new Date().toISOString(),\n  action: 'ip_blocking',\n  status: result.block_decision === 'block' ? 'blocked' : 'not_blocked',\n  details: {\n    ip: result.source_ip,\n    threat_score: result.threat_score,\n    severity: result.severity,\n    reason: result.reason,\n    blocked_until: result.blocked_until,\n    firewall_executed: result.firewall_executed || false\n  },\n  workflow: 'auto_blocking_v1'\n};\n\nconsole.log('Reporte de bloqueo:', JSON.stringify(report, null, 2));\n\nif (result.block_decision === 'block') {\n  try {\n    await $http.post({\n      url: 'http://logstash:8080',\n      body: {\n        ...report,\n        type: 'ip_block_event',\n        source: 'n8n_auto_block'\n      },\n      headers: { 'Content-Type': 'application/json' }\n    });\n  } catch (error) {\n    console.log('Error enviando a Logstash:', error.message);\n  }\n}\n\nreturn [{ json: report }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        192,
        384
      ],
      "id": "3752db2b-9aba-451d-9deb-f8e72a6835bf",
      "name": "Generar Reporte"
    },
    {
      "parameters": {
        "command": "=echo \"$(date) [ALERTA SEGURIDAD] BLOQUEAR IP: {{ $('¿Bloquear?').item.json.source_ip }}\" >> /home/node/logs/security/fail2ban.log"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -80,
        256
      ],
      "id": "4296c380-8b43-49b5-beda-4239e1cac0eb",
      "name": "Execute Command"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Lógica de Decisión",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lógica de Decisión": {
      "main": [
        [
          {
            "node": "¿Bloquear?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Bloquear?": {
      "main": [
        [
          {
            "node": "Insertar IP Bloqueada",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Generar Reporte",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insertar IP Bloqueada": {
      "main": [
        [
          {
            "node": "Execute Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Command": {
      "main": [
        [
          {
            "node": "Generar Reporte",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "da1d4295-df3a-42e4-bcb3-5801ad80a41d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7478c350e39689cddadf155b6c5aead67e0635cfe1aa4e6d60c18ecb354db193"
  },
  "id": "mk0m9Wef9tFWpqL4",
  "tags": []
}