data/n8n/workflow_fase-3 herramientas adicionales.json
{
  "name": "workflow_fase-3",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        320,
        128
      ],
      "id": "9181d53c-af6a-4636-ae56-3756b0253c34",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  const alert = item.json;\n  \n  const logData = {\n    // Campos OBLIGATORIOS\n    \"source\": \"n8n\",\n    \"severity\": alert.severity || \"medium\",\n    \"rule_name\": alert.rule_name || \"Unknown\",\n    \"description\": alert.description || \"No description\",\n    \"source_ip\": alert.source_ip || \"0.0.0.0\",\n    \"timestamp\": new Date().toISOString(),\n    \n    // Campos adicionales\n    \"category\": alert.category || \"general\",\n    \"event_count\": alert.event_count || 1,\n    \n    // Para filtro Logstash\n    \"data_source\": \"n8n_workflow\"\n  };\n  \n  try {\n    const response = await $http.post({\n      url: 'http://logstash:8080',\n      body: logData,\n      headers: {\n        'Content-Type': 'application/json'\n      }\n    });\n    \n    results.push({\n      json: {\n        ...alert,\n        logstash_sent: true,\n        response: response\n      }\n    });\n    \n  } catch (error) {\n    results.push({\n      json: {\n        ...alert,\n        logstash_sent: false,\n        error: error.message\n      }\n    });\n  }\n}\n\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2464,
        512
      ],
      "id": "42f7a887-fe03-4765-92f8-a9ab45d2f9c1",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.severity }}",
                    "rightValue": "info",
                    "operator": {
                      "type": "string",
                      "operation": "notEquals"
                    },
                    "id": "ae1ffb72-f4ec-4b10-8f05-6c0be29138b6"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "1e1a5dda-dcc2-4514-9689-a330cbdf31e8",
                    "leftValue": "={{ $json.severity }}",
                    "rightValue": "info",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        1792,
        128
      ],
      "id": "816a4ffc-7aa7-48aa-b9d8-5b556e00ce2e",
      "name": "Switch"
    },
    {
      "parameters": {
        "jsCode": "const logs = $input.all();\nconst rules = [\n  { id: 1, name: 'SSH Brute Force', pattern: 'Failed password', severity: 'high', threshold: 1, description: 'Fallo de login SSH' },\n  { id: 2, name: 'Port Scan', pattern: 'DPT=', severity: 'medium', threshold: 3, description: 'Escaneo de puertos detectado' },\n  { id: 3, name: 'Root Login Attempt', pattern: 'Failed password for root', severity: 'critical', threshold: 1, description: '¡Intento crítico de acceso como ROOT!' },\n  { id: 4, name: 'Kernel Oops', pattern: 'Oops', severity: 'critical', threshold: 1, description: 'Error crítico del sistema (Kernel)' },\n  { id: 5, name: 'Access Denied', pattern: 'Access denied', severity: 'high', threshold: 1, description: 'Acceso denegado a recurso' },\n  { id: 6, name: 'Service Restart', pattern: 'Started', severity: 'info', threshold: 1, description: 'Servicio reiniciado' }\n];\n\nconst extractIP = (text) => {\n  const ipRegex = /\\b\\d{1,3}\\.\\d{1,3}\\.\\d{1,3}\\.\\d{1,3}\\b/;\n  const match = text.match(ipRegex);\n  return match ? match[0] : '127.0.0.1'; \n};\nconst logGroups = {};\nlogs.forEach(item => {\n  const log = item.json;\n  const ip = (log.source_ip && log.source_ip !== 'unknown') ? log.source_ip : extractIP(log.raw || '');\n  const key = `${log.type || 'auth'}_${ip}`;\n  if (!logGroups[key]) logGroups[key] = [];\n  logGroups[key].push({...log, source_ip: ip});\n});\n\nconst alerts = [];\n\nfor (const rule of rules) {\n  for (const [key, logGroup] of Object.entries(logGroups)) {\n    const matchingLogs = logGroup.filter(log => {\n      try {\n        const regex = new RegExp(rule.pattern, 'i');\n        return regex.test(log.raw);\n      } catch (e) { return false; }\n    });\n    \n    if (matchingLogs.length >= rule.threshold) {\n      alerts.push({\n        rule_id: rule.id,\n        rule_name: rule.name,\n        severity: rule.severity,\n        category: 'authentication_failure',\n        source_ip: matchingLogs[0].source_ip,\n        target_host: 'server1',\n        event_count: matchingLogs.length,\n        description: `${rule.description} desde ${matchingLogs[0].source_ip}`,\n        raw_log: matchingLogs[0].raw,\n        timestamp: new Date().toISOString()\n      });\n    }\n  }\n}\n\nif (alerts.length === 0) {\n  return [{\n    json: {\n      rule_name: 'Monitoring Active',\n      severity: 'info',\n      category: 'system',\n      description: 'No threats detected in logs',\n      source_ip: '0.0.0.0'\n    }\n  }];\n}\n\nreturn alerts.map(alert => ({ json: alert }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1360,
        128
      ],
      "id": "33913e11-417f-4d59-bce5-eb115b3d569b",
      "name": "nodo 4: detectar leyes"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nconsole.log(`No significant alerts (${items.length} info/low severity items)`);\n\nitems.forEach(item => {\n  const alert = item.json;\n  console.log(`Info alert: ${alert.rule_name || 'Unknown'} - ${alert.description || 'No description'}`);\n});\n\nreturn [{\n  json: {\n    action: 'logged_only',\n    message: `No action required for ${items.length} low-severity alerts`,\n    timestamp: new Date().toISOString(),\n    alerts_processed: items.length,\n    details: items.map(item => item.json.rule_name || 'Unknown')\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2128,
        688
      ],
      "id": "a5b9bab0-da1d-4148-8868-95ac1638f4f6",
      "name": "Nodo 8: Log Only (no)"
    },
    {
      "parameters": {
        "jsCode": "const notifications = $input.all();\n\nconsole.log(`Workflow completed. Sent ${notifications.length} alerts`);\n\nconst summary = {\n  timestamp: new Date().toISOString(),\n  workflow: 'security_monitoring',\n  status: 'completed',\n  alerts_processed: notifications.length,\n  notifications_sent: notifications.length,\n  next_run: new Date(Date.now() + 5 * 60000).toISOString() \n};\n\nconsole.log('Summary:', JSON.stringify(summary, null, 2));\n\nreturn [{\n  json: summary\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2560,
        -16
      ],
      "id": "c506af53-358a-4aba-9171-d18190e655f5",
      "name": "nodo 9: resumen"
    },
    {
      "parameters": {
        "fileSelector": "/home/node/logs/security/alerts.log",
        "options": {
          "dataPropertyName": "data"
        }
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        512,
        128
      ],
      "id": "a393a0e1-cc47-4c50-83dd-c1c4eee33ab2",
      "name": "Read/Write Files from Disk"
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        768,
        128
      ],
      "id": "81f5738c-5db4-4811-aa48-e4fbca09c919",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst rawText = items[0].json.data || items[0].json.text || \"\";\n\nif (!rawText) {\n  throw new Error(\"No se encontró texto en el nodo anterior. Revisa el nodo Extract from File.\");\n}\n\nconst lines = rawText.split('\\n').filter(line => line.trim() !== '');\n\nreturn lines.map(line => {\n  return {\n    json: {\n      timestamp: new Date().toISOString(),\n      raw: line,\n      file: 'auth.log',\n      source: 'real_file'\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1056,
        128
      ],
      "id": "539976a2-4cc7-42ae-a9f1-5fd315366dd8",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "alerts",
          "mode": "list",
          "cachedResultName": "alerts"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "severity": "={{ $json.severity }}",
            "category": "={{ $json.category }}",
            "description": "={{ $json.description }}",
            "status": "new",
            "timestamp": "={{ new Date() }}",
            "event_count": 1,
            "source_ip": "={{ $json.source_ip }}",
            "raw_log": "={{ $json.raw_log }}",
            "risk_score": "={{ $json.risk_score }}",
            "risk_level": "={{ $json.risk_level }}",
            "threat_reputation": "={{ $json.threat_intel.threat_info.reputation }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "severity",
              "displayName": "severity",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "category",
              "displayName": "category",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "source_host",
              "displayName": "source_host",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "source_ip",
              "displayName": "source_ip",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "target_host",
              "displayName": "target_host",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "event_count",
              "displayName": "event_count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "description",
              "displayName": "description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "raw_log",
              "displayName": "raw_log",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "assigned_to",
              "displayName": "assigned_to",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "notes",
              "displayName": "notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "resolved_at",
              "displayName": "resolved_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "risk_score",
              "displayName": "risk_score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "risk_level",
              "displayName": "risk_level",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "threat_reputation",
              "displayName": "threat_reputation",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2160,
        -16
      ],
      "id": "9dbc5fde-a204-474f-b494-1f45af9c55d0",
      "name": "Insert rows in a table",
      "retryOnFail": true,
      "credentials": {
        "postgres": {
          "id": "5oNla0FyawiUWphG",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nconst ip = items[0].json.source_ip || '0.0.0.0';\nconst isPrivateIP = ip.startsWith('10.') || \n                   ip.startsWith('192.168.') || \n                   (ip.startsWith('172.') && parseInt(ip.split('.')[1]) >= 16 && parseInt(ip.split('.')[1]) <= 31);\n\nconst threatDB = {\n  '192.168.1.50': { \n    reputation: 'malicious', \n    tags: ['sql_injection', 'web_attack'],\n    confidence: 0.85\n  },\n  '10.0.0.10': { \n    reputation: 'suspicious', \n    tags: ['port_scan'],\n    confidence: 0.65\n  }\n};\n\nitems[0].json.threat_intel = {\n  is_private_ip: isPrivateIP,\n  threat_info: threatDB[ip] || { \n    reputation: 'unknown', \n    tags: [], \n    confidence: 0 \n  },\n  geo_info: {\n    country: isPrivateIP ? 'INTERNAL' : 'UNKNOWN',\n    asn: 'N/A'\n  },\n  enrichment_timestamp: new Date().toISOString()\n};\n\nlet riskScore = 0;\n\nswitch(items[0].json.severity) {\n  case 'critical': riskScore = 90; break;\n  case 'high': riskScore = 70; break;\n  case 'medium': riskScore = 50; break;\n  default: riskScore = 30;\n}\n\nif (items[0].json.threat_intel.threat_info.reputation === 'malicious') {\n  riskScore += 20;\n} else if (items[0].json.threat_intel.threat_info.reputation === 'suspicious') {\n  riskScore += 10;\n}\n\nif (items[0].json.event_count && items[0].json.event_count > 3) {\n  riskScore += 15;\n}\n\nitems[0].json.risk_score = Math.min(100, riskScore);\nitems[0].json.risk_level = riskScore >= 80 ? 'CRITICAL' : \n                          riskScore >= 60 ? 'HIGH' : \n                          riskScore >= 40 ? 'MEDIUM' : 'LOW';\n\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1568,
        128
      ],
      "id": "1b65ddf2-90a3-4bf0-92f5-955abc2fa2e3",
      "name": "Enriquecimiento Threat Intel"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "eff1dded-b11d-4935-8b10-34be76f9f3ee",
              "leftValue": "={{ $json.risk_level }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        1920,
        16
      ],
      "id": "c37e45bc-1473-4389-a658-bfd2cb145bbd",
      "name": "Filter"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "eff1dded-b11d-4935-8b10-34be76f9f3ee",
              "leftValue": "={{ $json.risk_level }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        2176,
        512
      ],
      "id": "0dbf8e8e-170f-4950-9e50-130feb3ad16c",
      "name": "Filter1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5678/webhook/webhook/auto-block",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "title",
              "value": "Alerta de seguridad"
            },
            {
              "name": "rule_name",
              "value": "={{ $json.rule_name }}"
            },
            {
              "name": "severity",
              "value": "={{ $json.severity }}"
            },
            {
              "name": "source_ip",
              "value": "={{ $json.source_ip }}"
            },
            {
              "name": "risk_score",
              "value": "={{ $json.risk_score }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2240,
        352
      ],
      "id": "c0664d99-ef75-4f99-a2dc-9fc4be854458",
      "name": "HTTP Request2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5678/webhook/create-ticket",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"rule_name\": \"{{ $json.rule_name }}\",\n  \"source_ip\": \"{{ $json.source_ip }}\",\n  \"risk_score\": {{ $json.risk_score }},\n  \"description\": \"{{ $json.description }}\",\n  \"threat_intel\": {{ JSON.stringify($json.threat_intel) }}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2256,
        208
      ],
      "id": "85aebd49-50f7-44a4-8c0f-4b15b5c3aeb7",
      "name": "HTTP Request1"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          },
          {
            "node": "Filter1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Nodo 8: Log Only (no)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "nodo 4: detectar leyes": {
      "main": [
        [
          {
            "node": "Enriquecimiento Threat Intel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enriquecimiento Threat Intel": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "nodo 4: detectar leyes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Insert rows in a table",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter1": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert rows in a table": {
      "main": [
        [
          {
            "node": "nodo 9: resumen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "nodo 9: resumen": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "8c614a02-bde2-46a2-9b62-43fe638f8e94",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8c36b1fcd5715c1d5c4dc72cf4a61bd3613a8fd6b8532a31460a88ccdd2cd369"
  },
  "id": "u58gEaHKc0UCbk9h",
  "tags": []
}