data/n8n/Workflow_fase _3-final.json
{
  "name": "Workflow_fase _3-final",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1840,
        144
      ],
      "id": "f81b3670-4098-4e4b-a550-3dd9ea8793b3",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst rawText = items[0].json.data || items[0].json.text || \"\";\n\nif (!rawText) {\n  throw new Error(\"No se encontró texto en el nodo anterior. Revisa el nodo Extract from File.\");\n}\n\nconst lines = rawText.split('\\n').filter(line => line.trim() !== '');\n\nreturn lines.map(line => {\n  return {\n    json: {\n      timestamp: new Date().toISOString(),\n      raw: line,\n      file: 'auth.log',\n      source: 'real_file'\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -896,
        144
      ],
      "id": "94c5749e-8f08-4d8f-9062-5216f2eda9af",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "jsCode": "const logs = $input.all();\nconst rules = [\n  { id: 1, name: 'SSH Failed Password', pattern: 'Failed password', severity: 'high', threshold: 1, description: 'Intento de acceso fallido SSH' },\n  { id: 2, name: 'Sudo Usage', pattern: 'sudo', severity: 'medium', threshold: 1, description: 'Uso de comando SUDO detectado' },\n  { id: 3, name: 'Iptables Drop', pattern: 'iptables.*DROP', severity: 'high', threshold: 1, description: 'Paquete bloqueado por Firewall' },\n  { id: 4, name: 'Root Login Attempt', pattern: 'Failed password for root', severity: 'critical', threshold: 1, description: '¡Intento crítico de acceso como ROOT!' },\n  { id: 5, name: 'Port Scan', pattern: 'DPT=', severity: 'medium', threshold: 3, description: 'Posible escaneo de puertos' },\n  { id: 6, name: 'Service Restart', pattern: 'Started', severity: 'info', threshold: 1, description: 'Servicio iniciado/reiniciado' },\n  { id: 7, name: 'Access Denied', pattern: 'Access denied', severity: 'high', threshold: 1, description: 'Acceso denegado a recurso crítico' },\n  { id: 8, name: 'Kernel Oops', pattern: 'Oops', severity: 'critical', threshold: 1, description: 'Error crítico del Kernel detectado' }\n];\n\nconst extractIP = (text) => {\n  const ipRegex = /\\b\\d{1,3}\\.\\d{1,3}\\.\\d{1,3}\\.\\d{1,3}\\b/;\n  const match = text.match(ipRegex);\n  return match ? match[0] : '127.0.0.1';\n};\n\nlet alerts = [];\n\n// Procesamos cada log de entrada individualmente\nlogs.forEach(item => {\n  const logRaw = item.json.raw;\n  const sourceIp = extractIP(logRaw);\n  \n  // Usamos un bucle for...of para poder usar 'break'\n  for (const rule of rules) {\n    const regex = new RegExp(rule.pattern, 'i');\n    if (regex.test(logRaw)) {\n      alerts.push({\n        json: {\n          rule_id: rule.id,\n          rule_name: rule.name,\n          severity: rule.severity,\n          category: (rule.severity === 'critical' || rule.severity === 'high') ? 'attack' : 'system',\n          source_ip: sourceIp,\n          target_host: 'server1',\n          description: rule.description,\n          raw_log: logRaw,\n          timestamp: new Date().toISOString()\n        }\n      });\n      // IMPORTANTE: Al encontrar la regla más específica, saltamos al siguiente log\n      break; \n    }\n  }\n});\n\nreturn alerts.length > 0 ? alerts : logs.map(l => ({\n  json: {\n    rule_name: 'Monitoring Active',\n    severity: 'info',\n    category: 'system',\n    description: 'Actividad de log estándar detectada',\n    source_ip: extractIP(l.json.raw || ''),\n    raw_log: l.json.raw\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -592,
        144
      ],
      "id": "0e7d3bf4-d641-4f64-a51c-92be91c20d4f",
      "name": "Detectar Amenazas"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nconst threatDB = {\n  '192.168.1.50': { reputation: 'malicious', tags: ['sql_injection', 'web_attack'], confidence: 0.85 },\n  '10.0.0.10': { reputation: 'suspicious', tags: ['port_scan'], confidence: 0.65 }\n};\n\nreturn items.map(item => {\n  const data = item.json;\n  data.raw_log = (data.raw_log || \"\").trim();\n  const ip = data.source_ip || '0.0.0.0';\n  \n  const isPrivateIP = ip.startsWith('10.') || \n                      ip.startsWith('192.168.') || \n                      (ip.startsWith('172.') && parseInt(ip.split('.')[1]) >= 16 && parseInt(ip.split('.')[1]) <= 31);\n\n  const threatInfo = threatDB[ip] || { reputation: 'unknown', tags: [], confidence: 0 };\n  \n  data.threat_intel = {\n    is_private_ip: isPrivateIP,\n    threat_info: threatInfo,\n    geo_info: { country: isPrivateIP ? 'INTERNAL' : 'UNKNOWN', asn: 'N/A' },\n    enrichment_timestamp: new Date().toISOString()\n  };\n\n  let riskScore = 0;\n  switch(data.severity) {\n    case 'critical': riskScore = 90; break;\n    case 'high': riskScore = 70; break;\n    case 'medium': riskScore = 50; break;\n    default: riskScore = 30;\n  }\n\n  if (threatInfo.reputation === 'malicious') riskScore += 20;\n  else if (threatInfo.reputation === 'suspicious') riskScore += 10;\n  \n  data.risk_score = Math.min(100, riskScore);\n  data.risk_level = data.risk_score >= 80 ? 'CRITICAL' : \n                    data.risk_score >= 60 ? 'HIGH' : \n                    data.risk_score >= 40 ? 'MEDIUM' : 'LOW';\n\n    // Extraemos el host del log (que está después de la fecha)\n  const logParts = data.raw_log.split(' ');\n  data.source_host = logParts[3] || 'unknown-host'; \n\n  // El target_host suele ser el servidor donde corre el servicio\n  data.target_host = 'server1';\n  data.ip_address = data.source_ip; // El dashboard busca ip_address\n  data.is_active = (data.risk_level === 'CRITICAL' || data.risk_level === 'HIGH');\n  return { json: data };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -384,
        144
      ],
      "id": "6e28bd89-490e-4c30-8e92-e2163a79f059",
      "name": "Enriquecimiento Threat Intel"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.severity }}",
                    "rightValue": "info",
                    "operator": {
                      "type": "string",
                      "operation": "notEquals"
                    },
                    "id": "ae1ffb72-f4ec-4b10-8f05-6c0be29138b6"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "1e1a5dda-dcc2-4514-9689-a330cbdf31e8",
                    "leftValue": "={{ $json.severity }}",
                    "rightValue": "info",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -160,
        144
      ],
      "id": "f0605a7f-45e8-4aac-9e4a-1c631a0a25a8",
      "name": "Switch"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "eff1dded-b11d-4935-8b10-34be76f9f3ee",
              "leftValue": "={{ $json.risk_level }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -32,
        32
      ],
      "id": "b0128774-17f7-41c1-b5b2-f242a48fb7d7",
      "name": "Filter"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "eff1dded-b11d-4935-8b10-34be76f9f3ee",
              "leftValue": "={{ $json.risk_level }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        80,
        480
      ],
      "id": "b9735f35-359d-4387-a177-5ad18ca57025",
      "name": "Filter1"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nconsole.log(`No significant alerts (${items.length} info/low severity items)`);\nitems.forEach(item => {\n  const alert = item.json;\n  console.log(`Info alert: ${alert.rule_name || 'Unknown'} - ${alert.description || 'No description'}`);\n});\n\nreturn [{\n  json: {\n    action: 'logged_only',\n    message: `No action required for ${items.length} low-severity alerts`,\n    timestamp: new Date().toISOString(),\n    alerts_processed: items.length,\n    details: items.map(item => item.json.rule_name || 'Unknown')\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        80,
        864
      ],
      "id": "abd3e1ca-0d7b-47f5-a5ef-0a5c3057fad6",
      "name": "Nodo 8: Log Only"
    },
    {
      "parameters": {
        "jsCode": "const notifications = $input.all();\n\nconst summary = {\n  timestamp: new Date().toISOString(),\n  workflow: 'security_monitoring',\n  status: 'completed',\n  alerts_processed: notifications.length,\n  notifications_sent: notifications.length,\n  next_run: new Date(Date.now() + 5 * 60000).toISOString()\n};\n\nconsole.log('Summary:', JSON.stringify(summary, null, 2));\n\nreturn [{ json: summary }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        16
      ],
      "id": "1548fad9-57f6-4918-acd6-d29bfa269c72",
      "name": "Nodo 9: Resumen"
    },
    {
      "parameters": {
        "command": "truncate -s 0 /root/.n8n-files/security/alerts"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1072,
        464
      ],
      "id": "cd7ef903-0f64-4e08-9520-b732ea81deb4",
      "name": "Limpiar archivo alerts"
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -1328,
        144
      ],
      "id": "7775ed8b-d7ac-45f4-b2ba-3c90dbb03063",
      "name": "Extraer datos"
    },
    {
      "parameters": {
        "fileSelector": "/root/.n8n-files/security/alerts",
        "options": {
          "dataPropertyName": "data"
        }
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -1584,
        144
      ],
      "id": "851335df-60c8-47ba-958c-bd67c30ad008",
      "name": "Leer archivo alerts"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "alerts",
          "mode": "list",
          "cachedResultName": "alerts"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "severity": "={{ $json.severity }}",
            "category": "={{ $json.category }}",
            "description": "={{ $json.description }}",
            "status": "new",
            "timestamp": "={{ new Date() }}",
            "event_count": 1,
            "source_ip": "={{ $json.source_ip }}",
            "raw_log": "={{ $json.raw_log }}",
            "risk_score": "={{ $json.risk_score }}",
            "risk_level": "={{ $json.risk_level }}",
            "threat_reputation": "={{ $json.threat_intel.threat_info.reputation }}",
            "target_host": "={{ $json.target_host }}",
            "source_host": "={{ $json.source_host }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "severity",
              "displayName": "severity",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "category",
              "displayName": "category",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "source_host",
              "displayName": "source_host",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "source_ip",
              "displayName": "source_ip",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "target_host",
              "displayName": "target_host",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "event_count",
              "displayName": "event_count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "description",
              "displayName": "description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "raw_log",
              "displayName": "raw_log",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "assigned_to",
              "displayName": "assigned_to",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "notes",
              "displayName": "notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "resolved_at",
              "displayName": "resolved_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "risk_score",
              "displayName": "risk_score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "risk_level",
              "displayName": "risk_level",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "threat_reputation",
              "displayName": "threat_reputation",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        208,
        0
      ],
      "id": "1bbb361c-cd5e-44b6-8e19-cf9e871033d6",
      "name": "Registrar alerta",
      "retryOnFail": true,
      "credentials": {
        "postgres": {
          "id": "fxbYllSjTFqyrT5U",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5678/webhook/create-ticket",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"rule_name\": \"{{ $json.rule_name }}\",\n  \"source_ip\": \"{{ $json.source_ip }}\",\n  \"risk_score\": {{ $json.risk_score }},\n  \"description\": \"{{ $json.description }}\",\n  \"threat_intel\": {{ JSON.stringify($json.threat_intel) }}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        304,
        192
      ],
      "id": "38de0180-f7af-419c-b3f7-e6579a3b9f8e",
      "name": "Crear ticket"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5678/webhook/webhook/auto-block",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "title",
              "value": "Alerta de seguridad"
            },
            {
              "name": "rule_name",
              "value": "={{ $json.rule_name }}"
            },
            {
              "name": "severity",
              "value": "={{ $json.severity }}"
            },
            {
              "name": "source_ip",
              "value": "={{ $json.source_ip }}"
            },
            {
              "name": "risk_score",
              "value": "={{ $json.risk_score }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        304,
        400
      ],
      "id": "940a26ec-8f2c-4c6c-afbc-3b8615da0186",
      "name": "Bloquear IP maliciosa"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5678/webhook/wazuh-monitor",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"rule_name\": \"{{ $json.rule_name }}\",\n  \"severity\": \"{{ $json.severity }}\",\n  \"source_ip\": \"{{ $json.source_ip }}\",\n  \"risk_score\": {{ $json.risk_score }},\n  \"description\": \"{{ $json.description }}\",\n  \"category\": \"{{ $json.category }}\",\n  \"raw_log\": \"{{ $json.raw_log }}\",\n  \"is_private\": {{ $json.threat_intel.is_private_ip }},\n  \"reputation\": \"{{ $json.threat_intel.threat_info.reputation }}\",\n  \"country\": \"{{ $json.threat_intel.geo_info.country }}\",\n  \"source_host\": \"{{ $json.source_host }}\",\n  \"target_host\": \"{{ $json.target_host }}\",\n  \"data_source\": \"n8n_workflow\" \n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        272,
        592
      ],
      "id": "60f33dfa-35a6-40d7-857e-d8a391a88c4a",
      "name": "Enviar a Wazuh"
    },
    {
      "parameters": {
        "numberInputs": 5
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        752,
        320
      ],
      "id": "2bc5aba4-972a-4881-a39e-62ab8ef507e5",
      "name": "Merge"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO attack_patterns (pattern_type, source_ip, target_host, first_seen, last_seen, occurrence_count, is_blocked)\nVALUES (\n  '{{ $json.rule_name }}',\n  '{{ $json.source_ip }}',\n  '{{ $json.target_host }}',\n  NOW(),\n  NOW(),\n  1,\n  {{ $json.risk_level === 'CRITICAL' || $json.risk_level === 'HIGH' }}\n)\nON CONFLICT (source_ip, pattern_type) \nDO UPDATE SET \n  last_seen = NOW(),\n  occurrence_count = attack_patterns.occurrence_count + 1,\n  is_blocked = EXCLUDED.is_blocked;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        256,
        -192
      ],
      "id": "5df76772-ccc5-4c10-9957-d25c5bf3db67",
      "name": "Execute a SQL query",
      "credentials": {
        "postgres": {
          "id": "fxbYllSjTFqyrT5U",
          "name": "Postgres account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Leer archivo alerts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Detectar Amenazas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Detectar Amenazas": {
      "main": [
        [
          {
            "node": "Enriquecimiento Threat Intel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enriquecimiento Threat Intel": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          },
          {
            "node": "Filter1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Nodo 8: Log Only",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Registrar alerta",
            "type": "main",
            "index": 0
          },
          {
            "node": "Crear ticket",
            "type": "main",
            "index": 0
          },
          {
            "node": "Bloquear IP maliciosa",
            "type": "main",
            "index": 0
          },
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter1": {
      "main": [
        [
          {
            "node": "Enviar a Wazuh",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limpiar archivo alerts": {
      "main": [
        []
      ]
    },
    "Extraer datos": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Leer archivo alerts": {
      "main": [
        [
          {
            "node": "Extraer datos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Registrar alerta": {
      "main": [
        [
          {
            "node": "Nodo 9: Resumen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nodo 8: Log Only": {
      "main": [
        [
          {
            "node": "Limpiar archivo alerts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nodo 9: Resumen": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar a Wazuh": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Limpiar archivo alerts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crear ticket": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Bloquear IP maliciosa": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 4
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "91ac736f-8bac-4b66-a0ab-840a5b4894aa",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7478c350e39689cddadf155b6c5aead67e0635cfe1aa4e6d60c18ecb354db193"
  },
  "id": "IlZkF2tpQcwn5ibI",
  "tags": []
}