workflow_fase-3.json
{
  "name": "workflow_fase-3",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1296,
        80
      ],
      "id": "9cbd04a0-60c7-417f-8584-e1857509a9d3",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "jsCode": "const fiveMinutesAgo = new Date(Date.now() - (5 * 60 * 1000));\n\nconst simulatedLogs = [];\n\nconst logTypes = [\n  {\n    type: 'ssh_failed',\n    pattern: 'Failed password for',\n    count: Math.floor(Math.random() * 8) + 1, // 1-8 intentos\n    template: (i) => `${new Date(Date.now() - i * 30000).toISOString()} server1 sshd[${1234 + i}]: Failed password for invalid user attacker${i} from 192.168.1.${100 + i} port 22`\n  },\n  {\n    type: 'sudo_usage', \n    pattern: 'sudo: session opened',\n    count: Math.floor(Math.random() * 3) + 1,\n    template: (i) => `${new Date(Date.now() - i * 60000).toISOString()} server1 sudo: pam_unix(sudo:session): session opened for user root by admin`\n  },\n  {\n    type: 'iptables_drop',\n    pattern: 'iptables.*DROP',\n    count: Math.floor(Math.random() * 5) + 1,\n    template: (i) => `${new Date(Date.now() - i * 45000).toISOString()} firewall kernel: iptables: DROP IN=eth0 SRC=10.0.0.${i} DST=192.168.1.10 DPT=22`\n  },\n  {\n    type: 'sql_injection',\n    pattern: 'union.*select',\n    count: Math.random() > 0.7 ? 1 : 0,\n    template: () => `${new Date().toISOString()} web-server apache2: 192.168.1.50 - - [10/Dec/2024:14:30:25 +0000] \"GET /index.php?id=1' UNION SELECT NULL-- HTTP/1.1\" 200 512`\n  }\n];\n\n// Generar logs\nlogTypes.forEach(logType => {\n  for (let i = 0; i < logType.count; i++) {\n    const logTime = new Date(Date.now() - i * 30000);\n    if (logTime >= fiveMinutesAgo) {\n      simulatedLogs.push({\n        timestamp: logTime.toISOString(),\n        raw: logType.template(i),\n        file: logType.type === 'ssh_failed' ? 'failed_ssh.log' : 'alerts.log',\n        source: 'simulated'\n      });\n    }\n  }\n});\n\nif (simulatedLogs.length === 0) {\n  simulatedLogs.push({\n    timestamp: new Date().toISOString(),\n    raw: `${new Date().toISOString()} system: No security events in last 5 minutes`,\n    file: 'system.log',\n    source: 'test'\n  });\n}\n\nconsole.log(`Generated ${simulatedLogs.length} simulated logs for testing`);\nreturn simulatedLogs.map(log => ({ json: log }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1248,
        -144
      ],
      "id": "55e9c9fb-3bdd-462f-88c3-2358582c81d1",
      "name": "nodo 2"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  const alert = item.json;\n  \n  const logData = {\n    // Campos OBLIGATORIOS\n    \"source\": \"n8n\",\n    \"severity\": alert.severity || \"medium\",\n    \"rule_name\": alert.rule_name || \"Unknown\",\n    \"description\": alert.description || \"No description\",\n    \"source_ip\": alert.source_ip || \"0.0.0.0\",\n    \"timestamp\": new Date().toISOString(),\n    \n    // Campos adicionales\n    \"category\": alert.category || \"general\",\n    \"event_count\": alert.event_count || 1,\n    \n    // Para filtro Logstash\n    \"data_source\": \"n8n_workflow\"\n  };\n  \n  try {\n    const response = await $http.post({\n      url: 'http://logstash:8080',\n      body: logData,\n      headers: {\n        'Content-Type': 'application/json'\n      }\n    });\n    \n    results.push({\n      json: {\n        ...alert,\n        logstash_sent: true,\n        response: response\n      }\n    });\n    \n  } catch (error) {\n    results.push({\n      json: {\n        ...alert,\n        logstash_sent: false,\n        error: error.message\n      }\n    });\n  }\n}\n\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        144
      ],
      "id": "0ef7824e-3be0-42bb-9f59-03d472b2b023",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.severity }}",
                    "rightValue": "info",
                    "operator": {
                      "type": "string",
                      "operation": "notEquals"
                    },
                    "id": "ae1ffb72-f4ec-4b10-8f05-6c0be29138b6"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "1e1a5dda-dcc2-4514-9689-a330cbdf31e8",
                    "leftValue": "={{ $json.severity }}",
                    "rightValue": "info",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        176,
        80
      ],
      "id": "5a4a649b-e939-4269-843a-a44a5cbc9bbe",
      "name": "Switch"
    },
    {
      "parameters": {
        "jsCode": "const logs = $input.all();\n\n// 1. Definimos las reglas aquí directamente para evitar el error del módulo 'pg'\nconst rules = [\n  { id: 1, name: 'SSH Brute Force', pattern: 'Failed password', severity: 'high', threshold: 1, description: 'Fallo de login SSH' },\n  { id: 2, name: 'Port Scan', pattern: 'DPT=', severity: 'medium', threshold: 3, description: 'Escaneo de puertos detectado' },\n  { id: 3, name: 'Root Login Attempt', pattern: 'Failed password for root', severity: 'critical', threshold: 1, description: '¡Intento crítico de acceso como ROOT!' },\n  { id: 4, name: 'Kernel Oops', pattern: 'Oops', severity: 'critical', threshold: 1, description: 'Error crítico del sistema (Kernel)' },\n  { id: 5, name: 'Access Denied', pattern: 'Access denied', severity: 'high', threshold: 1, description: 'Acceso denegado a recurso' },\n  { id: 6, name: 'Service Restart', pattern: 'Started', severity: 'info', threshold: 1, description: 'Servicio reiniciado' }\n];\n\nconst extractIP = (text) => {\n  const ipRegex = /\\b\\d{1,3}\\.\\d{1,3}\\.\\d{1,3}\\.\\d{1,3}\\b/;\n  const match = text.match(ipRegex);\n  return match ? match[0] : '127.0.0.1'; \n};\n// 2. Agrupamos los logs por IP\nconst logGroups = {};\nlogs.forEach(item => {\n  const log = item.json;\n  const ip = (log.source_ip && log.source_ip !== 'unknown') ? log.source_ip : extractIP(log.raw || '');\n  const key = `${log.type || 'auth'}_${ip}`;\n  if (!logGroups[key]) logGroups[key] = [];\n  logGroups[key].push({...log, source_ip: ip});\n});\n\nconst alerts = [];\n\n// 3. Procesamos las reglas\nfor (const rule of rules) {\n  for (const [key, logGroup] of Object.entries(logGroups)) {\n    const matchingLogs = logGroup.filter(log => {\n      try {\n        const regex = new RegExp(rule.pattern, 'i');\n        return regex.test(log.raw);\n      } catch (e) { return false; }\n    });\n    \n    if (matchingLogs.length >= rule.threshold) {\n      alerts.push({\n        rule_id: rule.id,\n        rule_name: rule.name,\n        severity: rule.severity,\n        category: 'authentication_failure',\n        source_ip: matchingLogs[0].source_ip,\n        target_host: 'server1',\n        event_count: matchingLogs.length,\n        description: `${rule.description} desde ${matchingLogs[0].source_ip}`,\n        raw_log: matchingLogs[0].raw,\n        timestamp: new Date().toISOString()\n      });\n    }\n  }\n}\n\n// 4. Si no hay alertas, enviamos un estado de monitoreo\nif (alerts.length === 0) {\n  return [{\n    json: {\n      rule_name: 'Monitoring Active',\n      severity: 'info',\n      category: 'system',\n      description: 'No threats detected in logs',\n      source_ip: '0.0.0.0'\n    }\n  }];\n}\n\nreturn alerts.map(alert => ({ json: alert }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -256,
        80
      ],
      "id": "95fd8422-e6b9-40a2-adc0-f3fbe9279b43",
      "name": "nodo 4: detectar leyes"
    },
    {
      "parameters": {
        "channel": "security-alerts",
        "text": "={{ $json.text }}",
        "otherOptions": {},
        "attachments": []
      },
      "id": "3ba03eb0-9825-40a9-a23e-691ef4a7094c",
      "name": "Send Slack Message",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [
        672,
        -48
      ],
      "credentials": {
        "slackApi": {
          "id": "dgEXu72QNPkfGQdY",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nconsole.log(`No significant alerts (${items.length} info/low severity items)`);\n\nitems.forEach(item => {\n  const alert = item.json;\n  console.log(`Info alert: ${alert.rule_name || 'Unknown'} - ${alert.description || 'No description'}`);\n});\n\nreturn [{\n  json: {\n    action: 'logged_only',\n    message: `No action required for ${items.length} low-severity alerts`,\n    timestamp: new Date().toISOString(),\n    alerts_processed: items.length,\n    details: items.map(item => item.json.rule_name || 'Unknown')\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        336,
        336
      ],
      "id": "e31027e0-67c2-4f7a-afa6-f672752bc1d7",
      "name": "Nodo 8: Log Only (no)"
    },
    {
      "parameters": {
        "jsCode": "\nconst notifications = $input.all();\n\nconsole.log(`Workflow completed. Sent ${notifications.length} alerts`);\n\nconst summary = {\n  timestamp: new Date().toISOString(),\n  workflow: 'security_monitoring',\n  status: 'completed',\n  alerts_processed: notifications.length,\n  notifications_sent: notifications.length,\n  next_run: new Date(Date.now() + 5 * 60000).toISOString() \n};\n\nconsole.log('Summary:', JSON.stringify(summary, null, 2));\n\nreturn [{\n  json: summary\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        864,
        -48
      ],
      "id": "289e77cb-a608-4c2c-9182-017a3cd3836b",
      "name": "nodo 9: resumen"
    },
    {
      "parameters": {
        "fileSelector": "/home/node/logs/auth.log",
        "options": {
          "dataPropertyName": "data"
        }
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -1104,
        80
      ],
      "id": "2ab577ea-abab-40a4-af6e-4927a35aa0ce",
      "name": "Read/Write Files from Disk"
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -848,
        80
      ],
      "id": "66497aa6-4eab-4dc8-9f62-752886414398",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "jsCode": "// Este código busca el texto venga del campo que venga\nconst items = $input.all();\n\n// Intentamos obtener el texto de 'data' o de 'text'\nconst rawText = items[0].json.data || items[0].json.text || \"\";\n\nif (!rawText) {\n  throw new Error(\"No se encontró texto en el nodo anterior. Revisa el nodo Extract from File.\");\n}\n\n// Separamos por líneas y creamos el formato que espera el Nodo 3\nconst lines = rawText.split('\\n').filter(line => line.trim() !== '');\n\nreturn lines.map(line => {\n  return {\n    json: {\n      timestamp: new Date().toISOString(),\n      raw: line,\n      file: 'auth.log',\n      source: 'real_file'\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -560,
        80
      ],
      "id": "1fe12624-ee19-4ebf-ac8b-8a37ea359fb7",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "alerts",
          "mode": "list",
          "cachedResultName": "alerts"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "severity": "={{ $json.severity }}",
            "category": "={{ $json.category }}",
            "description": "={{ $json.description }}",
            "status": "new",
            "timestamp": "={{ new Date() }}",
            "event_count": 1,
            "source_ip": "={{ $json.source_ip }}",
            "raw_log": "={{ $json.raw_log }}",
            "risk_score": "={{ $json.risk_score }}",
            "risk_level": "={{ $json.risk_level }}",
            "threat_reputation": "={{ $json.threat_intel.threat_info.reputation }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "severity",
              "displayName": "severity",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "category",
              "displayName": "category",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "source_host",
              "displayName": "source_host",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "source_ip",
              "displayName": "source_ip",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "target_host",
              "displayName": "target_host",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "event_count",
              "displayName": "event_count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "description",
              "displayName": "description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "raw_log",
              "displayName": "raw_log",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "assigned_to",
              "displayName": "assigned_to",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "notes",
              "displayName": "notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "resolved_at",
              "displayName": "resolved_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "risk_score",
              "displayName": "risk_score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "risk_level",
              "displayName": "risk_level",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "threat_reputation",
              "displayName": "threat_reputation",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        464,
        -48
      ],
      "id": "d4a513ea-3c0b-4c72-a7ec-a71e4e5d6ddc",
      "name": "Insert rows in a table",
      "retryOnFail": true,
      "credentials": {
        "postgres": {
          "id": "xQDinEhC3bDgBeQn",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\n// 1. Verificar si es IP privada\nconst ip = items[0].json.source_ip || '0.0.0.0';\nconst isPrivateIP = ip.startsWith('10.') || \n                   ip.startsWith('192.168.') || \n                   (ip.startsWith('172.') && parseInt(ip.split('.')[1]) >= 16 && parseInt(ip.split('.')[1]) <= 31);\n\n// 2. Base de datos SIMULADA de threat intelligence\nconst threatDB = {\n  '192.168.1.50': { \n    reputation: 'malicious', \n    tags: ['sql_injection', 'web_attack'],\n    confidence: 0.85\n  },\n  '10.0.0.10': { \n    reputation: 'suspicious', \n    tags: ['port_scan'],\n    confidence: 0.65\n  }\n};\n\n// 3. Aplicar enriquecimiento\nitems[0].json.threat_intel = {\n  is_private_ip: isPrivateIP,\n  threat_info: threatDB[ip] || { \n    reputation: 'unknown', \n    tags: [], \n    confidence: 0 \n  },\n  geo_info: {\n    country: isPrivateIP ? 'INTERNAL' : 'UNKNOWN',\n    asn: 'N/A'\n  },\n  enrichment_timestamp: new Date().toISOString()\n};\n\n// 4. Calcular risk_score mejorado\nlet riskScore = 0;\n\n// Base por severity\nswitch(items[0].json.severity) {\n  case 'critical': riskScore = 90; break;\n  case 'high': riskScore = 70; break;\n  case 'medium': riskScore = 50; break;\n  default: riskScore = 30;\n}\n\n// Bonificación por threat intelligence\nif (items[0].json.threat_intel.threat_info.reputation === 'malicious') {\n  riskScore += 20;\n} else if (items[0].json.threat_intel.threat_info.reputation === 'suspicious') {\n  riskScore += 10;\n}\n\n// Bonificación por múltiples eventos\nif (items[0].json.event_count && items[0].json.event_count > 3) {\n  riskScore += 15;\n}\n\nitems[0].json.risk_score = Math.min(100, riskScore);\nitems[0].json.risk_level = riskScore >= 80 ? 'CRITICAL' : \n                          riskScore >= 60 ? 'HIGH' : \n                          riskScore >= 40 ? 'MEDIUM' : 'LOW';\n\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -48,
        80
      ],
      "id": "8bd670ec-8a1a-4248-b7d7-4a8b89d92c0e",
      "name": "Enriquecimiento Threat Intel"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "eff1dded-b11d-4935-8b10-34be76f9f3ee",
              "leftValue": "={{ $json.risk_level }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        304,
        -32
      ],
      "id": "76ab3d54-1e2f-49fd-9724-64e8cf8a8d6a",
      "name": "Filter"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "eff1dded-b11d-4935-8b10-34be76f9f3ee",
              "leftValue": "={{ $json.risk_level }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        368,
        144
      ],
      "id": "fb9b086d-c16c-4a9c-921f-e971dbfca084",
      "name": "Filter1"
    },
    {
      "parameters": {
        "jsCode": "// Nodo: Activar Workflows 4 y 5\nconst items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  const alert = item.json;\n  \n  // Solo activar para alertas de alta severidad con IP válida\n  if ((alert.severity === 'high' || alert.severity === 'critical') && \n      alert.source_ip && \n      alert.source_ip !== '0.0.0.0') {\n    \n    try {\n      // Datos para auto-bloqueo (workflow 4)\n      const blockData = {\n        source_ip: alert.source_ip,\n        threat_score: alert.risk_score || 75,\n        severity: alert.severity,\n        rule_name: alert.rule_name || 'Unknown',\n        timestamp: new Date().toISOString(),\n        reason: `Auto-bloqueo por: ${alert.rule_name || 'Alerta de seguridad'}`\n      };\n      \n      // Datos para tickets (workflow 5)\n      const ticketData = {\n        title: `[${alert.severity.toUpperCase()}] ${alert.rule_name || 'Security Alert'}`,\n        description: alert.description || `Alerta de seguridad desde ${alert.source_ip}`,\n        severity: alert.severity,\n        source_ip: alert.source_ip,\n        category: alert.category || 'general',\n        rule_name: alert.rule_name || 'Unknown',\n        risk_score: alert.risk_score || 75\n      };\n      \n      // Enviar a ambos webhooks (DENTRO del contenedor Docker)\n      const responses = await Promise.allSettled([\n        $http.post({\n          url: 'http://n8n:5678/webhook/auto-block',\n          body: blockData,\n          headers: { 'Content-Type': 'application/json' },\n          timeout: 3000\n        }),\n        $http.post({\n          url: 'http://n8n:5678/webhook/create-ticket',\n          body: ticketData,\n          headers: { 'Content-Type': 'application/json' },\n          timeout: 3000\n        })\n      ]);\n      \n      results.push({\n        json: {\n          ...alert,\n          workflows_triggered: true,\n          block_success: responses[0].status === 'fulfilled',\n          ticket_success: responses[1].status === 'fulfilled',\n          block_response: responses[0].status === 'fulfilled' ? responses[0].value.status : 'error',\n          ticket_response: responses[1].status === 'fulfilled' ? responses[1].value.status : 'error'\n        }\n      });\n      \n    } catch (error) {\n      results.push({\n        json: {\n          ...alert,\n          workflows_triggered: false,\n          error: error.message\n        }\n      });\n    }\n  } else {\n    // Si no cumple criterios, pasar sin cambios\n    results.push({ json: alert });\n  }\n}\n\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        992,
        128
      ],
      "id": "e01b9732-4e29-44e3-9433-d8b41e72400c",
      "name": "Trigger Workflows 4 & 5"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          },
          {
            "node": "Filter1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Nodo 8: Log Only (no)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "nodo 4: detectar leyes": {
      "main": [
        [
          {
            "node": "Enriquecimiento Threat Intel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enriquecimiento Threat Intel": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "nodo 4: detectar leyes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Insert rows in a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter1": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert rows in a table": {
      "main": [
        [
          {
            "node": "Send Slack Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Slack Message": {
      "main": [
        [
          {
            "node": "nodo 9: resumen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "nodo 9: resumen": {
      "main": [
        [
          {
            "node": "Trigger Workflows 4 & 5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f559ad62-c1c7-4b15-8f47-c8df71ca6acb",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "62a476d001d9b5667943139795e50ef1df67c5e4cc02e91414150a16123dcae4"
  },
  "id": "WPTdkWTY1PcCt7cN",
  "tags": []
}
